@keyframes onload {
    0% {color: transparent; font-size: 45px}
    100% {color: white; font-size: 50px; margin-top: 80px}
}

body {
    font-family: Arial;
    background: linear-gradient(90deg, rgba(1,0,66,1) 0%, rgba(70,0,0,1) 100%);
    user-select: none;
}

.header{
    text-align: center;
    margin-top: 450px;
    margin-bottom: 5px;
    animation-name: onload;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes  about_in{
    0% {box-shadow: 0px 0px 40px 0px #690069;}
    100% {box-shadow: 0px 0px 40px 0px #c700c7;}
}

@keyframes about_out {
    0% {box-shadow: 0px 0px 40px 0px #c700c7;}
    100% {box-shadow: 0px 0px 40px 0px #690069;}
}

.about_container {
    border-radius: 20px;
    border: 2px solid transparent;
    width: 400px;
    height: 400px;
    background: rgba(36, 36, 36, 0.8);
    display: inline-block;
    margin: 0px;
    box-shadow: 0px 0px 40px 0px #690069;
    animation-name: about_out;
    animation-duration: 1s;

}

.about_container:hover {
    animation-name: about_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.about_title {
    color: white;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 130px;
}

@keyframes  projects_in{
    0% {box-shadow: 0px 0px 40px 0px #ff9100;}
    100% {box-shadow: 0px 0px 40px 0px #ffc800;}
}

@keyframes projects_out {
    0% {box-shadow: 0px 0px 40px 0px #ffc800;}
    100% {box-shadow: 0px 0px 40px 0px #ff9100;}
}

.projects_container {
    border-radius: 20px;
    border: 2px solid transparent;
    width: 400px;
    height: 400px;
    background: rgba(36, 36, 36, 0.5);
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
    box-shadow: 0px 0px 40px 0px #ff9100;
    animation-name: projects_out;
    animation-duration: 1s;

}
.projects_container:hover {
    animation-name: projects_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.projects_title {
    color: white;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 130px;
}

@keyframes  contact_in{
    0% {box-shadow: 0px 0px 40px 0px #004f08;}
    100% {box-shadow: 0px 0px 40px 0px #00c414;}
}

@keyframes contact_out {
    0% {box-shadow: 0px 0px 40px 0px #00c414;}
    100% {box-shadow: 0px 0px 40px 0px #004f08;}
}

.contact_container {
    border-radius: 20px;
    border: 2px solid transparent;
    width: 400px;
    height: 400px;
    background: rgba(36, 36, 36, 0.5);
    display: inline-block;
    margin: 0px;
    box-shadow: 0px 0px 40px 0px #004f08;
    animation-name: contact_out;
    animation-duration: 1s;

}

.contact_container:hover {
    animation-name: contact_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.contact_title{
    color: white;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 130px;
}

.main_container {
    margin-top: 100px;
    text-align: center;
}